<div class="login container ">
  <h1 data-sr="enter bottom"><big>Zeitlog</big></h1>
  <h4> <%= link_to t(".login_with_google"), user_omniauth_authorize_url(:google_oauth2), data: {sr: "enter-top"} %> </h4>
</div>
